*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul, li {
  list-style: none;
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.hamburger-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-main);
  border-radius: 25px;
}
.hamburger-button__slide {
  position: relative;
  left: 30%;
  background-color: #fff;
  width: 40%;
  height: 0.1rem;
}
.hamburger-button .first {
  top: 0.9rem;
  left: 30%;
}
.hamburger-button .second {
  top: 1.1rem;
}
.hamburger-button .third {
  top: 1.3rem;
}
.hamburger-button:hover {
  cursor: pointer;
}
.hamburger-button.button-clicked .hamburger-button__slide {
  position: relative;
  left: 25%;
  background-color: #fff;
  width: 50%;
  height: 0.1rem;
}
.hamburger-button.button-clicked .first {
  top: 1.2rem;
  transform: rotate(45deg);
}
.hamburger-button.button-clicked .second {
  display: none;
}
.hamburger-button.button-clicked .third {
  top: 1.1rem;
  transform: rotate(-45deg);
}

:root {
  --color-main: #DD1335;
  --color-secondary: #FF676B;
  --color-details: #70B2DE;
  --color-details-dark: #004D73;
}

.profile-card__title {
  color: #fff;
  text-shadow: 5px 5px 5px black, -5px -5px 5px black;
}

.profile-card__subtitle {
  color: #fff;
  text-shadow: 5px 5px 5px black, -5px -5px 5px black;
}

.profile-card__image {
  background-image: url("../../media/images/profile1.jpeg");
  background-size: 200%;
  background-position: 5% 80%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: var(--z-back);
}

.profile-card__title {
  position: absolute;
  top: 40%;
  left: 10%;
}

.profile-card__subtitle {
  position: absolute;
  top: 47%;
  left: 10%;
}

.menu {
  background-color: var(--color-secondary);
  position: absolute;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 80%;
  transition: transform 1s;
}
.menu-opened {
  visibility: visible;
  position: fixed;
  transform: translateX(125%);
  transition: transform 1s;
}
.menu__circle-picture {
  position: relative;
  top: 1rem;
  margin: 0 auto;
  background-image: url("../../media/images/profile2.jpeg");
  background-size: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 200px;
}
.menu__name {
  text-align: center;
}

.social-buttons {
  position: relative;
  right: 7%;
  display: flex;
  justify-content: space-evenly;
}
.social-buttons li {
  width: 2rem;
  height: 2rem;
  border-radius: 200px;
  background-color: var(--color-details-dark);
}
.social-buttons li:hover {
  background-color: var(--color-details);
}
.social-buttons__github img {
  width: 2rem;
}
.social-buttons__telegram img {
  width: 2rem;
}
.social-buttons__email img {
  position: relative;
  top: 15%;
  left: 10%;
  width: 1.6rem;
}
.social-buttons__linkedin img {
  position: relative;
  top: 15%;
  left: 18%;
  width: 1.3rem;
}
.social-buttons__whatsapp img {
  position: relative;
  top: 10%;
  left: 10%;
  width: 1.6rem;
}

/*# sourceMappingURL=styles.css.map */
