.profile-card__image {
  background-image: url("../../media/images/profile1.jpeg");
  background-size: 200%;
  background-position: 5% 80%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: var(--z-back);

  @include rwd(xsmall) {
    background-size: 150%;
    background-position: 0 100%;

  }
  @include rwd(520px) {
    background-size: 105%;
    background-position: 55% 0;
  }
  @include rwd(600px) {
    background-size: 100%;
    background-position: 0 -10rem;
  }
  @include rwd(820px) {
    background-size: 101%;
    background-position: -0.5rem -12rem;
  }
  @include rwd(840px) {
    background-size: 100%;
    background-position: 0 -12rem;
  }
  @include rwd(850px) {
    background-size: 100%;
    background-position: 0 -13rem;
  }
  @include rwd(870px) {
    background-size: 100%;
    background-position: 0 -14rem;
  }
  @include rwd(880px) {
    background-size: 100%;
    background-position: 0 -15rem;
  }
  @include rwd(900px) {
    background-size: 100%;
    background-position: 0 -16rem;
  }
  @include rwd(910px) {
    background-size: 100%;
    background-position: 0 -17rem;
  }
  @include rwd(930px) {
    background-size: 100%;
    background-position: 0 -18rem;
  }
  @include rwd(950px) {
    background-size: 100%;
    background-position: 0 -19rem;
  }
  @include rwd(970px) {
    background-size: 100%;
    background-position: 0 -20rem;
  }
  @include rwd(990px) {
    background-size: 100%;
    background-position: 0 -21rem;
  }
  @include rwd(1000px) {
    background-size: 100%;
    background-position: 0 -22rem;
  }
  @include rwd(1015px) {
    background-size: 100%;
    background-position: 0 -23rem;
  }


}

.profile-card__title {
  position: absolute;
  top: 40%;
  left: 10%;
  @include rwd(600px) {
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 2.5rem;
  }
  @include rwd(630px) {
    top: 45%;
  }
  @include rwd(670px) {
    top: 50%;
  }
  @include rwd(730px) {
    top: 25%;
  }


}

.profile-card__subtitle {
  position: absolute;
  top: 47%;
  left: 10%;
  @include rwd(600px) {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 1.8rem;
  }
  @include rwd(630px) {
    top: 55%;
  }
  @include rwd(670px) {
    top: 60%;
  }
  @include rwd(730px) {
    top: 35%;
  }


}
