.profile-card__image {
  background-image: url("../../media/images/finalimage.webp");
  background-size: 200%;
  background-position: 5% 80%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: var(--z-back);

  @include rwd(xsmall) {
    background-size: 150%;
    background-position: 0 100%;

  }
  @include rwd(small) {
    background-image: url("../../media/images/profile1rs.jpg");
  }
  @include rwd(520px) {
    background-size: 105%;
    background-position: 55% 0;
  }
  @include rwd(600px) {
    background-size: 100%;
    background-position: 0 -10rem;
  }
  @include rwd(820px) {
    background-size: 101%;
    background-position: -0.5rem -12rem;
  }
  @include rwd(840px) {
    background-size: 100%;
    background-position: 0 -12rem;
  }
  @include rwd(850px) {
    background-size: 100%;
    background-position: 0 -13rem;
  }
  @include rwd(870px) {
    background-size: 100%;
    background-position: 0 -14rem;
  }
  @include rwd(880px) {
    background-size: 100%;
    background-position: 0 -15rem;
  }
  @include rwd(900px) {
    background-size: 100%;
    background-position: 0 -16rem;
  }
  @include rwd(910px) {
    background-size: 100%;
    background-position: 0 -17rem;
  }
  @include rwd(930px) {
    background-size: 100%;
    background-position: 0 -18rem;
  }
  @include rwd(950px) {
    background-size: 100%;
    background-position: 0 -19rem;
  }
  @include rwd(970px) {
    background-size: 100%;
    background-position: 0 -20rem;
  }
  @include rwd(990px) {
    background-size: 100%;
    background-position: 0 -21rem;
  }
  @include rwd(1000px) {
    background-size: 100%;
    background-position: 0 -22rem;
  }
  @include rwd(1015px) {
    background-size: 100%;
    background-position: 0 -23rem;
  }
  @include rwd(large) {
    margin-left: 256px;
    width: 75%;
    background-size: 80%;
    background-position: 14rem -10.5rem;
    background-attachment: fixed;
    background-image: url("../../media/images/profile1bigwp.webp");
  }
  @include rwd(1035px) {
    background-position: 14rem -12rem;
    width: 76%;
  }
  @include rwd(1065px) {
    background-position: 14rem -14rem;
  }
  @include rwd(1100px) {
    background-position: 14rem -16rem;
    width: 77%;
  }
  @include rwd(1140px) {
    background-position: 15rem -18rem;
    width: 78%;
  }
  @include rwd(1185px) {
    width: 58rem;
    background-position: 15rem -20rem;
  }
  @include rwd(1200px) {
    width: 59rem;
    background-position: 15rem -20rem;
  }
  @include rwd(1215px) {
    width: 60rem;
    background-position: 16rem -20rem;
  }
  @include rwd(1230px) {
    width: 61rem;
    background-position: 16rem -22rem;
  }
  @include rwd(1245px) {
    width: 62rem;
    background-position: 16rem -22rem;
  }
  @include rwd(1260px) {
    width: 63rem;
    background-position: 16rem -24rem;
  }
  @include rwd(1275px) {
    width: 64rem;
    background-position: 16rem -26rem;
  }
  @include rwd(1290px) {
    width: 65rem;
    background-position: 16rem -26rem;
  }
  @include rwd(1300px) {
    background-size: 81%;
  }
  @include rwd(1315px) {
    width: 66rem;
  }
  @include rwd(1330px) {
    width: 67rem;
  }
  @include rwd(1345px) {
    width: 68rem;
    background-position: 16rem -28rem;
  }
  @include rwd(1360px) {
    width: 69rem;
  }
  @include rwd(1375px) {
    width: 70rem;
    background-position: 16rem -30rem;
  }
  @include rwd(1390px) {
    width: 71rem;
    background-position: 16rem -30rem;
  }
  @include rwd(1405px) {
    width: 72rem;
    background-position: 16rem -30rem;
  }
  @include rwd(1420px) {
    width: 74rem;
    background-position: 16rem -32rem;
  }

  @include rwd(1440px) {
    width: 74rem;
    background-position: 16rem -34rem;
    background-size: 83%;
  }
  @include rwd(1450px) {
    width: 75rem;
  }
  @include rwd(1470px) {
    width: 76rem;
  }
  @include rwd(1490px) {
    width: 77rem;
  }
  @include rwd(1500px) {
    width: 78rem;
    background-position: 16rem -36rem;
  }
  @include rwd(1520px) {
    width: 79rem;
    background-position: 16rem -36rem;
  }
  @include rwd(1536px) {
    width: 80rem;
    background-position: 16rem -40rem;
    background-size: 90%;
  }
  @include rwd(1600px) {
    width: 84rem;
    background-position: 16rem -40rem;
    background-size: 84%;
  }
  @include rwd-h(650px) {
    @include rwd(375px) {
      background-size: 175%;
      background-position: 0 95%;
    }
    @include rwd(425px) {
      background-size: 150%;
      background-position: -7rem 0rem;
    }
    @include rwd(450px) {
      background-size: 140%;
      background-position: -5.9rem 0rem;
    }
    @include rwd(480px) {
      background-size: 137%;
    }
    @include rwd(500px) {
      background-size: 130%;
      background-position: -4.9rem 0rem;
    }
    @include rwd(520px) {
      background-size: 120%;
      background-position: -3.5rem 0rem;
    }
    @include rwd(560px) {
      background-size: 110%;
      background-position: -2rem 0rem;
    }
    @include rwd(610px) {
      background-size: 100%;
      background-position: 0rem 0rem;
    }
    @include rwd(670px) {
      background-size: 120%;
      background-position: -4.5rem -12rem;
    }
    @include rwd(720px) {
      background-size: 110%;
      background-position: -2.5rem -9rem;
    }
    @include rwd(750px) {
      background-size: 105%;
      background-position: -1.5rem -9rem;
    }
    @include rwd(780px) {
      background-size: 120%;
      background-position: -5.5rem -19rem;
    }
    @include rwd(820px) {
      background-position: -5.5rem -23rem;
    }
    @include rwd(880px) {
      background-size: 100%;
      background-position: center;
    }
    @include rwd(1024px) {
      background-position: 6rem;
    }
    @include rwd(1080px) {
      background-position: 6rem -28rem;
    }
    @include rwd(1140px) {
      background-position: 5rem -31rem;
    }
    @include rwd(1190px) {
      background-position: 5rem -33rem;
    }
    @include rwd(1220px) {
      background-position: 4rem -35rem;
    }
    @include rwd(1250px) {
      background-position: 3rem -36rem;
    }
    @include rwd(1270px) {
      background-size: 120%;
      background-position: 3rem -54rem;
    }
    @include rwd(1300px) {
      background-size: 93%;
      background-position: 9rem -34rem;
    }
    @include rwd(1330px) {
      background-position: 9rem -36rem;
    }
    @include rwd(1360px) {
      background-position: 8rem -39rem;
    }
    @include rwd(1420px) {
      background-position: 6rem -42rem;
    }

  }
  @include rwd-h(700px) {
    @include rwd(1350px) {
      background-position: 8rem -33rem;
      background-size: 90%;
    }
    @include rwd(1400px) {
      background-position: 3rem -42rem;
      background-size: 100%;
    }
    @include rwd(1420px) {
      background-position: 13rem -33rem;
      background-size: 85%;
    }
    @include rwd(1490px) {
      background-position: 9rem -39rem;
      background-size: 90%;
    }
    @include rwd(1520px) {
      background-position: 16rem -37rem;
      background-size: 85%;
    }
  }

  @include rwd-h(730px) {
    @include rwd(320px) {
      background-size: 203%;
    }
    @include rwd(375px) {
      background-size: 188%;
    }
    @include rwd(400px) {
      background-size: 182%;
      background-position: -10.5rem -3rem;
    }
    @include rwd(425px) {
      background-size: 180%;
      background-position: -11rem -3rem;
    }

    @include rwd(440px) {
      background-size: 174%;
    }
    @include rwd(460px) {
      background-size: 171%;
      background-position: -10.5rem -8rem;
    }
    @include rwd(515px) {
      background-size: 163%;
    }
    @include rwd(540px) {
      background-size: 160%;
      background-position: -10.5rem -10rem;
    }
    @include rwd(575px) {
      background-size: 156%;
      background-position: -10.5rem -12rem;
    }
    @include rwd(610px) {
      background-size: 153%;
    }
    @include rwd(630px) {
      background-size: 102%;
      background-position: -0.5rem -2rem;
    }
    @include rwd(770px) {
      background-position: -0.5rem -7rem;
    }
    @include rwd(850px) {
      background-position: -0.8rem -14rem;
    }
    @include rwd(950px) {
      background-position: -0.8rem -20rem;
    }
    @include rwd(1024px) {
      background-position: 5rem -18rem;
    }
    @include rwd(1055px) {
      background-position: 15.2rem -9rem;
      background-size: 80%;
    }
    @include rwd(1130px) {
      background-position: 15.2rem -12rem;
    }
    @include rwd(1190px) {
      background-position: 15.2rem -16rem;
    }
    @include rwd(1270px) {
      background-position: 12.2rem -27rem;
      background-size: 90%;
    }
    @include rwd(1320px) {
      background-position: 10rem -29rem;
      background-size: 90%;
    }
    @include rwd(1365px) {
      background-position: 12rem -31rem;
      background-size: 86%;
    }
    @include rwd(1440px) {
      width: calc(100% - 256px);
      background-position: 16rem -51rem;
    }
  }
  @include rwd-h(760px) {
    background-size: 200%;
    @include rwd(xsmall) {
      background-size: 190%;
    }
    @include rwd(440px) {
      background-size: 174%;
    }
    @include rwd(525px) {
      background-size: 162%;
    }
    @include rwd(605px) {
      background-size: 154%;
    }
    @include rwd(630px) {
      background-size: 100%;
      background-position: 0 0;
    }
    @include rwd(780px) {
      background-size: 120%;
      background-position: -5rem -15rem;
    }
    @include rwd(860px) {
      background-position: -5.5rem -22rem;
    }
    @include rwd(960px) {
      background-position: -6.5rem -27rem;
    }
    @include rwd(large) {
      background-position: 1rem -30rem;
    }
    @include rwd(1065px) {
      background-position: 0rem -32rem;
    }
    @include rwd(1100px) {
      background-position: 6rem -24rem;
      background-size: 100%;
    }
    @include rwd(1180px) {
      background-position: 10rem -24rem;
      background-size: 90%;
    }
    @include rwd(1300px) {
      background-position: 10rem -28rem;
      width: 81%;
    }
    @include rwd(1380px) {
      background-position: 9rem -31rem;
    }
    @include rwd(1440px) {
      background-position: 9rem -33rem;
      width: 82%;
    }
    @include rwd(1460px) {
      width: 83%;
    }
    @include rwd(1480px) {
      background-position: 9rem -36rem;
    }
    @include rwd(1530px) {
      background-position: 9rem -40rem;

    }
    @include rwd(1600px) {
      background-position: 16rem -40rem;
      width: 84%;
      background-size: 85%;

    }
  }
  @include rwd-h(small) {
    background-size: 205%;
    @include rwd(350px) {
      background-size: 185%;
    }
    @include rwd(xsmall) {
      background-size: 180%;
      background-position: 0 100%;
    }
    @include rwd(600px) {
      background-size: cover;
    }
    @include rwd(large) {
      background-size: 100%;
      background-position: 6rem 32%;
    }
    @include rwd(1100px) {
      background-position: 6rem 40%;
    }
    @include rwd(1300px) {
      background-position: 6rem 55%;
    }
  }
  @include rwd-h(900px) {
    background-size: 210%;
    @include rwd(375px) {
      background-size: 190%;
    }
    @include rwd(425px) {
      background-size: 190%;
    }
    @include rwd(580px) {
      background-size: 150%;
    }
    @include rwd(610px) {
      background-size: cover;
    }
  }
  @include rwd-h(910px) {
    @include rwd(500px) {
      background-size: cover;
    }
    @include rwd(900px) {
      background-position: -0.3rem 22%;
    }
    @include rwd(large) {
      background-position: 6rem 22%;
    }
    @include rwd(1050px) {
      background-position: 6rem 45%;
    }
    @include rwd(1350px) {
      background-position: 13rem 40%;
      background-size: 85%;
    }
    @include rwd(1470px) {
      background-position: 1rem -35rem;
      background-size: cover;
    }
    @include rwd(1510px) {
      background-position: 0rem -40rem;
      background-size: cover;
    }
  }
  @include rwd-h(920px) {
    @include rwd(450px) {
      background-position: 4% 80%;
      background-size: 200%;
    }
    @include rwd(600px) {
      background-position: -3rem 0rem;
      background-size: cover;
    }
    @include rwd(650px) {
      background-position: -6.5rem 0rem;
      background-size: 130%;
    }
    @include rwd(700px) {
      background-position: -7rem 0rem;
    }
    @include rwd(735px) {
      background-position: -12rem -17rem;
      background-size: 150%;
    }
    @include rwd(820px) {
      background-position: -5.5rem -8rem;
      background-size: 120%;
    }
    @include rwd(900px) {
      background-position: -6rem -17rem;
      background-size: 120%;
    }
    @include rwd(large) {
      background-position: 0rem -27rem;
    }
    @include rwd(1165px) {
      background-position: -2rem -33rem;
    }
    @include rwd(1245px) {
      background-position: -2rem -37rem;
    }
    @include rwd(1300px) {
      background-size: cover;
      background-position: 5rem -28rem;
    }
  }
  @include rwd-h(930px) {
    @include rwd(450px) {
      background-position: 4% 80%;
      background-size: 200%;
    }
    @include rwd(600px) {
      background-position: -3rem 0rem;
      background-size: cover;
    }
    @include rwd(650px) {
      background-position: -6.5rem 0rem;
      background-size: 130%;
    }
    @include rwd(700px) {
      background-position: -7rem 0rem;
    }
    @include rwd(735px) {
      background-position: -12rem -17rem;
      background-size: 150%;
    }
    @include rwd(820px) {
      background-position: -5.5rem -8rem;
      background-size: 120%;
    }
    @include rwd(900px) {
      background-position: -6rem -17rem;
      background-size: 120%;
    }
    @include rwd(large) {
      background-position: 0rem -27rem;
    }
    @include rwd(1165px) {
      background-position: -2rem -33rem;
    }
    @include rwd(1245px) {
      background-position: -2rem -37rem;
    }
    @include rwd(1300px) {
      background-size: cover;
      background-position: 5rem -28rem;
    }
  }
  @include rwd-h(990px) {
    background-position: 20% 80%;
    background-size: 250%;
    @include rwd(580px) {
      background-size: cover;
    }
    @include rwd(large) {
      background-position: 25% 45%;
      background-size: 140%;
    }
    @include rwd(1060px) {
      background-position: 25% 55%;
    }
  }
  @include rwd-h(1070px) {
    background-position: 25% 80%;
    background-size: 270%;
    @include rwd(500px) {
      background-size: cover;
    }
    @include rwd(1024px) {
      background-size: 125%;
      background-position: -1rem 30%;
    }
    @include rwd(1040px) {
      background-position: -1rem 50%;
    }
  }
  @include rwd-h(1160px) {
    background-position: 27% 80%;
    background-size: 290%;
    @include rwd(660px) {
      background-size: cover;
    }
    @include rwd(1024px) {
      background-size: 150%;
      background-position: 25% 38%;
    }
  }

}

.profile-card__title {
  position: absolute;
  top: 40%;
  left: 10%;
  @include rwd(600px) {
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 2.5rem;
  }
  @include rwd(630px) {
    top: 45%;
  }
  @include rwd(670px) {
    top: 50%;
  }
  @include rwd(730px) {
    top: 25%;
  }
  @include rwd(large) {
    left: 25rem;
  }

  @include rwd-h(650px) {
    @include rwd(670px) {
      top: 20%;
    }
  }
}

.profile-card__subtitle {
  position: absolute;
  top: 47%;
  left: 10%;
  @include rwd(600px) {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 1.8rem;
  }
  @include rwd(630px) {
    top: 55%;
  }
  @include rwd(670px) {
    top: 60%;
  }
  @include rwd(730px) {
    top: 35%;
  }
  @include rwd(large) {
    left: 25rem;
  }
  @include rwd-h(650px) {
    @include rwd(670px) {
      top: 30%;
    }
  }


}
