*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 34rem;
  @media (min-width: 550px) {
    width: 100vw;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

li {
  list-style: none;
}