.gallery__filter {
  background-color: #fff;
  width: 15rem;
  height: 2rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem auto;
  box-shadow: 5px 5px 10px darkgray;
}

.responsive-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  justify-items: center;
  transition: 1s ;


  &__item {
    width: 90%;
    height: 15rem;
    background-color: #fff;
    box-shadow: 2px 2px 2px var(--color-box-shadow);
    margin-bottom: 1rem;
    //  todo cuando crezca a tamano tablet, cambiar el margin bottom a 2rem
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  &__item-image {
    width: 16rem;
    height: 10rem;
    margin-bottom: .5rem;
  }

  &__item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16rem;
    height: 3rem;
  }

  &__item-icon {
    color: #fff;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-main);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__modal {
    top: 50%;
    height: 0;
    width: 100%;
    position: fixed;
  }

  .display {
    z-index: var(--z-tooltip);
    background-color: transparent;
    animation: heighta 2s forwards;
    @keyframes heighta {
      100% {
        top: 0%;
        height: 100%;
      }

    }
  }

  &__modal-details {
    width: 100%;
    height: 100%;
    background-color: var(--color-darker-background);
    overflow-y: scroll;
    overflow-x: hidden;


  }

  &__item-close-icon {
    position: relative;
    top: 0.5rem;
    right: -17.5rem;
    color: #fff;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-main);
    border-radius: 25px;
    cursor: pointer;
    z-index: var(--z-modal-tooltip);

    &-first {
      position: absolute;
      top: -15%;
      left: -20.5%;
      width: 1.7rem;
      height: 1.5rem;
      border-right: 3.5px solid #fff;
      transform: rotateZ(45deg);
    }

    &-second {
      position: absolute;
      top: 37%;
      left: -18%;
      width: 1.7rem;
      height: 1.5rem;
      border-right: 3.5px solid #fff;
      transform: rotateZ(-45deg);
    }
  }

  &__title {
    background-color: var(--color-bone);
    position: relative;
    top: -3rem;
    margin: 0;
    width: 100%;
    height: 8rem;
    padding: 1rem;
    z-index: var(--z-modal-normal);

    & h1 {
      margin: 0;
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    & h2 {
      margin: 0;
    }
  }


  &__image-container {
    position: relative;
    top: -1rem;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;

  }

  &__image-container::-webkit-scrollbar {
    display: none;
  }

  &__first-image {
    width: 100%;
    scroll-snap-align: center;
  }

  &__second-image {
    width: 100%;
    scroll-snap-align: center;
  }

  &__third-image {
    width: 100%;
    scroll-snap-align: center;
  }

  &__details-info-container {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 2px 2px 2px var(--color-box-shadow);
    width: 90%;
    margin: 1rem auto;
    min-height: 17rem;
    font-weight: 400;

    & h1 {
      margin: 0;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    & span {
      margin-right: 5rem;
    }

    & p {
      margin: 0;
      margin-bottom: .5rem;
    }
  }

  &__details-description-container {
    background-color: #fff;
    padding: 1em;


  }

  &__details-footer {
    background-color: black;
    color: #fff;
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.disappear-class {
  //todo para tablet y laptop considera cambiar el width y no el height
  margin-bottom: 0;
  height: 0;
  transition: 1s ;


  & img {
    height: 0;
    opacity: 0;
    transition: 1s;
  }

  & div {
    height: 0;
    opacity: 0;
    transition: 1s;
  }

  & p {
    height: 0;
    opacity: 0;
    transition: 1s;
  }


}

.disappear-display {
  display: none;
}

