.responsive-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  justify-items: center;

  &__item {
    width: 90%;
    height: 15rem;
    background-color: #fff;
    box-shadow: 2px 2px 2px grey;
    margin-bottom: 1rem;
    //  todo cuando crezca a tamano tablet, cambiar el margin bottom a 2rem
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  &__item-image {
    width: 16rem;
    height: 10rem;
    margin-bottom: .5rem;
  }

  &__item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16rem;
    height: 3rem;
  }

  &__item-icon {
    color: #fff;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-main);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__modal {
    top: 50%;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .display {
    background-color: transparent;
    animation: heighta 2s forwards;
    @keyframes heighta {
      100% {
        top: 0%;
        height: 100%;
      }

    }
  }

  &__modal-details {
    width: 90%;
    height: 90%;
    background-color: hsl(0, 0, 0, .5);

  }
}