.responsive-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  justify-items: center;

  &__item {
    width: 90%;
    height: 15rem;
    background-color: #fff;
    box-shadow: 2px 2px 2px grey;
    margin-bottom: 1rem;
    //  todo cuando crezca a tamano tablet, cambiar el margin bottom a 2rem
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  &__item-image {
    width: 16rem;
    height: 10rem;
    margin-bottom: .5rem;
  }

  &__item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16rem;
    height: 3rem;
  }

  &__item-icon {
    color: #fff;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-main);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__modal {
    top: 50%;
    height: 0;
    width: 100%;
    position: fixed;
  }

  .display {
    background-color: transparent;
    animation: heighta 2s forwards;
    @keyframes heighta {
      100% {
        top: 0%;
        height: 100%;
      }

    }
  }

  &__modal-details {
    width: 100%;
    height: 100%;
    background-color: #fff;

  }

  &__item-close-icon {
    position: relative;
    top: 0.5rem;
    right: -17.5rem;
    color: #fff;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-main);
    border-radius: 25px;
    cursor: pointer;

    &-first {
      position: absolute;
      top: -15%;
      left: -20.5%;
      width: 1.7rem;
      height: 1.5rem;
      border-right: 3.5px solid #fff;
      transform: rotateZ(45deg);
    }
    &-second {
      position: absolute;
      top: 37%;
      left: -18%;
      width: 1.7rem;
      height: 1.5rem;
      border-right: 3.5px solid #fff;
      transform: rotateZ(-45deg);
    }
  }

  &__image-container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;

  }
  &__image-container::-webkit-scrollbar {
    display: none;
  }

  &__first-image {
    width: 100%;
    scroll-snap-align: center;
  }

  &__second-image {
    width: 100%;
    scroll-snap-align: center;
  }

  &__third-image {
    width: 100%;
    scroll-snap-align: center;
  }
}

