//colors
:root {
  --color-main: #DD1335;
  --color-gradient1 : #e42b3f;
  --color-gradient2 : #ea3c49;
  --color-gradient3 : #f14a53;
  --color-gradient4 : #f7575d;
  --color-gradient5 : #fa5c79;
  --color-gradient6 : #f96694;
  --color-gradient7 : #f372ad;
  --color-gradient8 : #d486d2;
  --color-gradient9 : #ac99e6;
  --color-gradient10 : #85a8e9;
  --color-details: #70B2DE;
  --color-secondary: #FF676B;
  --color-details-dark: #004D73;
  --color-bone: #e3dac9;
  --color-alert: red;
  --color-darker-background : hsla(23, 100%, 95%, 100%);
  --color-box-shadow: darkgray;
}

.profile-card__title {
  color: #fff;
  text-shadow:  5px 5px 5px black , -5px -5px 5px black;
}

.profile-card__subtitle {
  color: #fff;
  text-shadow:  5px 5px 5px black , -5px -5px 5px black;
}

