//mixin line under certain titles

@mixin underline {
  &__title {
    @include l-margin1;
  }
  &__line {
    display: inline-block;
    width: 2.5rem;
    border-bottom: 3px solid var(--color-details-dark);
    margin-left: 1rem;
    position: relative;
    top: -1rem;
  }
  &__description {
    margin: 0 1rem;
  }
}

//margins

@mixin l-margin1 {
  margin-left: 1rem;
}

@mixin l-margin3 {
  margin-left: 3rem;
}


//resume dates
@mixin date {
  width: 7rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--color-details);
}
//resume details line and circle

@mixin details {
  position: absolute;
  width: 3rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin details-circle {
  display: block;
  position: relative;
  right: -0.05rem;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--color-details-dark);
  border-radius: 100%;
  background-color: #fff;
}

@mixin details-line {
  display: block;
  position: relative;
  right: .2rem;
  width: .6rem;
  height: 13.5rem;
  border-right: 2px solid var(--color-details-dark);
}

//resume lists
@mixin resume-inside-list {
  padding: 0;
  list-style-position: inside;
}
@mixin resume-inside-list-item {
  list-style: disc;
  margin: 1rem;
}