:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  --z-modal-back: 990;
  --z-modal-normal: 1001;
  --z-modal-tooltip: 1010;
  --z-modal-fixed: 1100;
  --z-modal-supreme: 10000;
}

:root {
  --bp-small : ;
}