.about {
  height: 100vh;

  &__title {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  &__line {
    display: inline-block;
    width: 2.5rem;
    border-bottom: 3px solid var(--color-details-dark);
    margin-left: 1rem;
    position: relative;
    top: -1rem;
  }
  &__description {
    margin:0 1rem;
  }

  &__image {
    margin: 2rem 1rem;
    width: 90%;
  }
}

