.about {
  @include underline;
  @include rwd(large) {
    margin-left: 256px;
  }


  &__title {
    @include rwd(small) {
      font-size: 2rem;
    }
  }

  &__description {
    @include rwd(small) {
      font-size: 1.1rem;
    }
    @include rwd(590px) {
      font-size: 1.3rem;
    }
    @include rwd(1470px) {
      margin: 2rem 1rem;
    }
    @include rwd(1500px) {
      margin: 0 1rem;
    }
  }

  &__image {
    display: block;
    margin: 1rem auto 2rem;
    width: 90%;
    @include rwd(400px) {
      width: 80%;
    }
    @include rwd(570px) {
      width: 70%;
    }
    @include rwd(650px) {
      width: 60%;
    }
    @include rwd(750px) {
      width: 50%;
    }
    @include rwd(960px) {
      width: 45%;
    }
    @include rwd(large) {
      margin: 1rem;
    }
    @include rwd(1050px) {
      width: 40%;
    }
    @include rwd(1110px) {
      width: 35%;
    }
    @include rwd(1500px){
      width: 27%;
    }

  }
}

