.creative-process {
  @include underline;
  @include rwd(665px) {
    margin-top: 1rem;
  }
  @include rwd(large) {
    margin-left: 256px;
  }

  &__title {
    @include rwd(xsmall) {
      margin-top: 2rem;
    }
    @include rwd(small) {
      font-size: 2rem;
    }

  }

  &__description {
    @include rwd(small) {
      font-size: 1.1rem;
    }
    @include rwd(450px) {
      margin-bottom: 3rem;
    }
    @include rwd(large) {
      font-size: 1.3rem;
    }
  }
}

.creative-process__diagram {
  margin-top: 1rem;
  background-color: var(--color-darker-background);
  min-height: 23.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: var(--z-back);
  @include rwd(xsmall) {
    margin-top: 2.5rem;
  }
  @include rwd(400px) {
    margin-top: 3.5rem;
  }
  @include rwd(small) {
    margin-top: 1rem;
  }
  @include rwd(665px) {
    margin-top: 4rem;
  }
  @include rwd(large) {
    margin-top: 2rem;
  }


  &-head {
    border-radius: 30px;
    position: relative;
    top: 2rem;
    background-color: var(--color-main);
    min-height: 5rem;
    min-width: 11%;
    clip-path: polygon(0% 0%, 50% 25%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-image {
      margin-top: 1.3rem;
      width: 2rem;
    }

    & p {
      margin: 0;
    }
  }

  &-first-paragraph {
    position: absolute;
    top: 35%;
    left: 2%;
    width: 2.2rem;
    min-height: 1rem;
    text-align: center;
    @include rwd(small) {
      left: 3.5%;
    }
    @include rwd(450px) {
      left: 4%;
    }
    @include rwd(620px) {
      left: 4.8%;
    }
    @include rwd(810px) {
      left: 5.5%;
    }
    @include rwd(1000px) {
      left: 5.8%;
    }
    @include rwd(large) {
      left: 5.2%;
    }
    @include rwd(1300px) {
      left: 6%;
    }
    @include rwd(1400px) {
      left: 6.1%;
    }
    @include rwd(1600px) {
      left: 6.3%;
    }


    & h2 {
      margin: 0;
      font-size: 1rem;
    }
  }

  &-head-slash {
    border-radius: 30px;
    position: relative;
    top: 6.5rem;
    background-color: var(--color-gradient1);
    min-height: 1rem;
    min-width: 6%;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  }

  &-second {
    border-radius: 30px;
    position: relative;
    top: 6.5rem;
    background-color: var(--color-gradient2);
    min-height: 3.75rem;
    min-width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-image {
      width: 1.7rem;
    }

    & p {
      margin: 0;
    }
  }

  &-second-paragraph {
    position: absolute;
    top: 48%;
    left: 19%;
    width: 2.2rem;
    min-height: 1rem;


    & h2 {
      font-size: 1rem;
      margin: 0;
      position: absolute;
      left: -20%;
      @include rwd(small) {
        left: -1%;
      }
      @include rwd(450px) {
        left: 3%;
      }
      @include rwd(620px) {
        left: 30%;
      }
      @include rwd(680px) {
        left: 42%;
      }
      @include rwd(730px) {
        left: 45%;
      }
      @include rwd(810px) {
        left: 65%;
      }
      @include rwd(1000px) {
        left: 90%;
      }
      @include rwd(large) {
        left: 60%;
      }
      @include rwd(1200px) {
        left: 85%;
      }
      @include rwd(1300px) {
        left: 97%;
      }
      @include rwd(1400px) {
        left: 113%;
      }
      @include rwd(1500px) {
        left: 130%;
      }
      @include rwd(1600px) {
        left: 140%;
      }
    }
  }

  &-second-slash {
    border-radius: 30px;
    position: relative;
    top: 9.2rem;
    background-color: var(--color-gradient3);
    min-height: 1rem;
    min-width: 6%;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  }

  &-third {
    border-radius: 30px;
    position: relative;
    top: 9.2rem;
    background-color: var(--color-gradient4);
    min-height: 3.75rem;
    min-width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-image {
      width: 2rem;
    }

    & p {
      margin: 0;
    }
  }

  &-third-paragraph {
    position: absolute;
    top: 59%;
    left: 36%;
    width: 2.2rem;
    min-height: 1rem;


    & h2 {
      font-size: 1rem;
      margin: 0;
      position: absolute;
      left: -15%;
      @include rwd(small) {
        left: 3%;
      }
      @include rwd(450px) {
        left: 5%;
      }
      @include rwd(620px) {
        left: 27%;
      }
      @include rwd(680px) {
        left: 43%;
      }
      @include rwd(810px) {
        left: 65%;
      }
      @include rwd(810px) {
        left: 70%;
      }
      @include rwd(1000px) {
        left: 90%;
      }
      @include rwd(large) {
        left: 60%;
      }
      @include rwd(1200px) {
        left: 85%;
      }
      @include rwd(1300px) {
        left: 100%;
      }
      @include rwd(1400px) {
        left: 115%;
      }
      @include rwd(1500px) {
        left: 128%;
      }
      @include rwd(1600px) {
        left: 146%;
      }


    }
  }

  &-third-slash {
    border-radius: 30px;
    position: relative;
    top: 12rem;
    background-color: var(--color-gradient5);
    min-height: 1rem;
    min-width: 6%;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  }

  &-fourth {
    border-radius: 30px;
    position: relative;
    top: 12rem;
    background-color: var(--color-gradient6);
    min-height: 3.75rem;
    min-width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-image {
      width: 1.8rem;
    }

    & p {
      margin: 0;
    }
  }

  &-fourth-paragraph {
    position: absolute;
    top: 43%;
    left: 53%;
    width: 2.2rem;
    min-height: 1rem;


    & h2 {
      font-size: 1rem;
      margin: 0;
      position: absolute;
      left: -30%;
      @include rwd(small) {
        left: -10%;
      }
      @include rwd(450px) {
        left: -6%;
      }
      @include rwd(570px) {
        left: 8%;
      }
      @include rwd(620px) {
        left: 18%;
      }
      @include rwd(680px) {
        left: 32%;
      }
      @include rwd(810px) {
        left: 58%;
      }
      @include rwd(1000px) {
        left: 75%;
      }
      @include rwd(large) {
        left: 40%;
      }
      @include rwd(1200px) {
        left: 65%;
      }
      @include rwd(1300px) {
        left: 83%;
      }
      @include rwd(1400px) {
        left: 98%;
      }
      @include rwd(1500px) {
        left: 113%;
      }
      @include rwd(1600px) {
        left: 130%;
      }


    }
  }

  &-fourth-slash {
    border-radius: 30px;
    position: relative;
    top: 14.7rem;
    background-color: var(--color-gradient7);
    min-height: 1rem;
    min-width: 6%;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  }

  &-fifth {
    border-radius: 30px;
    position: relative;
    top: 14.7rem;
    background-color: var(--color-gradient8);
    min-height: 3.75rem;
    min-width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-image {
      width: 1.8rem;
    }

    & p {
      margin: 0;
    }
  }

  &-fifth-paragraph {
    position: absolute;
    top: 54%;
    left: 70%;
    width: 2.2rem;
    min-height: 1rem;

    text-align: center;
    @include rwd(small) {
      left: 71%;
    }

    & h2 {
      font-size: 1rem;
      margin: 0;
      @include rwd(450px) {
        position: absolute;
        left: 30%;
      }
      @include rwd(570px) {
        left: 45%;
      }
      @include rwd(620px) {
        left: 55%;
      }
      @include rwd(680px) {
        left: 52%;
      }
      @include rwd(730px) {
        left: 60%;
      }
      @include rwd(1000px) {
        left: 85%;
      }
      @include rwd(large) {
        left: 60%;
      }
      @include rwd(1200px) {
        left: 80%;
      }
      @include rwd(1300px) {
        left: 90%;
      }
      @include rwd(1400px) {
        left: 105%;
      }
      @include rwd(1500px) {
        left: 115%;
      }
      @include rwd(1600px) {
        left: 125%;
      }


    }
  }

  &-fifth-slash {
    border-radius: 30px;
    position: relative;
    top: 17.5rem;
    background-color: var(--color-gradient9);
    min-height: 1rem;
    min-width: 6%;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  }

  &-sixth {
    border-radius: 30px;
    position: relative;
    top: 17.5rem;
    background-color: var(--color-gradient10);
    min-height: 3.75rem;
    min-width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-image {
      width: 1.5rem;
    }

    & p {
      margin: 0;
    }
  }

  &-sixth-paragraph {
    position: absolute;
    top: 67%;
    left: 86%;
    width: 2.2rem;
    min-height: 1rem;


    & h2 {
      font-size: 1rem;
      margin: 0;
      position: absolute;
      left: -23%;
      @include rwd(small) {
        left: 0;
      }
      @include rwd(450px) {
        left: 14%;
      }
      @include rwd(570px) {
        left: 33%;
      }
      @include rwd(570px) {
        left: 43%;
      }
      @include rwd(730px) {
        left: 65%;
      }
      @include rwd(810px) {
        left: 75%;
      }
      @include rwd(860px) {
        left: 80%;
      }
      @include rwd(900px) {
        left: 90%;
      }
      @include rwd(1000px) {
        left: 110%;
      }
      @include rwd(large) {
        left: 70%;
      }
      @include rwd(1200px) {
        left: 95%;
      }
      @include rwd(1300px) {
        left: 120%;
      }
      @include rwd(1400px) {
        left: 138%;
      }
      @include rwd(1500px) {
        left: 160%;
      }
      @include rwd(1600px) {
        left: 177%;
      }


    }
  }
}
