footer {
  background-color: black;
  color: #fff;
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include rwd(large) {
    font-size: 1.3rem;
  }
}

.footer {
  @include rwd(large) {
    margin-left: 256px;
  }
}