.occupation {


  &__title {
    margin-left: 1rem;
    @include rwd(small) {
      font-size: 2rem;
    }


    & span {
      display: block;
      @include rwd(610px) {
        display: inline;
      }
    }
  }

  &__description-initial, &__description-final {
    margin: 2rem 1rem;

    @include rwd(xsmall) {
      display: inline-block;
      margin: 1rem;
    }
    @include rwd(small) {
      font-size: 1.1rem;
      margin: 0 1rem;
    }
    @include rwd(520px) {
      font-size: 1.2rem;
    }
    @include rwd(565px) {
      font-size: 1.25rem;
    }
    @include rwd(585px) {
      font-size: 1.27rem;
    }


  }

  &__description-final {
    @include rwd(445px) {
      margin-bottom: 1rem;
    }
    @include rwd(610px) {
      margin-bottom: 4rem;
    }
  }

  &__info {
    display: flex;
    margin: 1rem .7rem;
    align-items: center;
    @include rwd(small) {
      font-size: 1.1rem;
    }
    @include rwd(520px) {
      font-size: 1.2rem;
    }
    @include rwd(565px) {
      font-size: 1.25rem;
    }
    @include rwd(585px) {
      font-size: 1.27rem;
    }


  }

  &__web-development {
    margin: 2rem .7rem 1rem;
    @include rwd(810px) {
      margin-top: 4rem;
    }

  }

  &__mobile-os {
    margin: 1rem .7rem 2rem;
    @include rwd(810px) {
      margin-bottom: 4rem;
    }

  }

  strong + span {
    margin-left: 1rem;
  }

  &__info::before {
    display: block;
    width: .5rem;
    height: .5rem;
    border-top: 2px solid var(--color-details-dark);
    border-right: 2px solid var(--color-details-dark);
    content: "";
    transform: rotate(40deg);
    margin-right: 1rem;
    margin-left: .3em;
  }
}