.portfolio {
  @include underline;

  &__line {
    top: 1rem;
    margin-bottom: 2rem;
  }

  background-color: var(--color-darker-background);

  &__title {
    width: 70%;
    margin: 0 0 1rem 1rem;
    position: relative;
    top: 1rem;
    @include rwd(small) {
      font-size: 2rem;
    }
  }

  &__gif {
    width: 90%;
    margin: auto 1rem;
  }



}