.portfolio {
  @include underline;
  @include rwd(large) {
    margin-left: 256px;
  }

  &__line {
    top: 1rem;
    margin-bottom: 2rem;
  }

  background-color: var(--color-darker-background);

  &__title {
    width: 70%;
    margin: 0 0 1rem 1rem;
    position: relative;
    top: 1rem;
    @include rwd(small) {
      font-size: 2rem;
    }
  }

  &__gif {
    display: block;
    margin: 1rem auto;
    width: 90%;

    @include rwd(1050px) {
      width: 80%;
    }
    @include rwd(1200px) {
      width: 70%;
    }
  }
}