.resume {
  @include underline;

  &__description {
    margin-bottom: 4rem;
  }

  //sumary

  &__sumary-title {
    @include l-margin1;
  }

  &__sumary-name, &__sumary-description, &__sumary-list {
    @include l-margin3;
  }

  &__sumary-list {
    padding: 0;
    list-style-position: inside;
  }

  &__sumary-list-item {
    list-style: disc;
    margin: 1rem;
  }

  &__sumary-details {
    @include details;
  }

  &__sumary-detail-circle {
    @include details-circle;
  }

  &__sumary-detail-line {
    @include details-line
  }


  //education
  &__education-title {
    @include l-margin1;
  }

  &__education-name, &__education-date, &__education-place, &__education-description {
    @include l-margin3;
  }

  &__education-date {
    width: 7rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--color-details);
    font-size: 1.2rem;
    padding-top: .5em;
    padding-bottom: .3em;
  }

  &__education-details {
    @include details;
    height: 15rem;
    justify-content: flex-start;
  }

  &__education-detail-circle {
    @include details-circle;
  }

  &__education-detail-line {
    @include details-line;
    position: absolute;
    top: 1rem;
    right: 1.4rem;
    height: 14.3rem;
  }



}