.resume {
  @include underline;

  &__description {
    margin-bottom: 4rem;
  }

  &__sumary-details {
    position: absolute;
    width: 3rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__sumary-detail-circle {
    display: block;
    position: relative;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--color-details-dark);
    border-radius: 100%;
  }

  &__sumary-detail-line {
    display: block;
    position: relative;
    right: .3rem;
    width: .6rem;
    height: 13.5rem;
    border-right: 2px solid var(--color-details-dark);
  }

  &__sumary-title {
    @include title;
  }

  &__sumary-name {
    margin-left: 3rem;
  }

  &__sumary-description {
    @extend .resume__sumary-name;
  }

  &__sumary-list {
    padding: 0;
    margin-left: 3rem;
    list-style-position: inside;
  }

  &__sumary-list-item {
    list-style: disc;
    margin: 1rem;
  }
}