.resume {
  @include underline;

  &__description {
    margin-bottom: 2rem;
  }

  //sumary

  &__sumary-title {
    @include l-margin1;
  }

  &__sumary-name, &__sumary-description, &__sumary-list {
    @include l-margin3;
  }

  &__sumary-list {
    @include resume-inside-list;
  }

  &__sumary-list-item {
    @include resume-inside-list-item;
  }

  &__sumary-details {
    @include details;
  }

  &__sumary-detail-circle {
    @include details-circle;
  }

  &__sumary-detail-line {
    @include details-line
  }


  //education
  &__education-title {
    @include l-margin1;
  }

  &__education-name, &__education-date, &__education-place, &__education-description {
    @include l-margin3;
  }

  &__education-date {
    @include date;
  }

  &__education-details {
    @include details;
    height: 15rem;
    justify-content: flex-start;
  }

  &__education-detail-circle {
    @include details-circle;
    top: .2rem;
  }

  &__education-detail-line {
    @include details-line;
    position: absolute;
    top: 1.2rem;
    right: 1.4rem;
    height: 16.9rem;
  }

  &__education-details-english {
    @include details;
    justify-content: flex-start;
  }

  &__education-detail-circle-english {
    @include details-circle;
    top: .45rem;
  }

  &__education-detail-line-english {
    @include details-line;
    height: 14.5rem;
    top: .4rem;
  }


  //  experience

  &__experience-title {
    @include l-margin1;
  }

  &__experience-date, &__experience-name, &__experience-place, &__experience-description, &__experience-description-final,&__experience-list-freelance {
    @include l-margin3;
  }

  &__experience-description-final {
    margin-bottom: 4rem;
  }

  &__experience-list-freelance {
    @include resume-inside-list;
  }

  &__experience-list-item-freelance {
    @include resume-inside-list-item;
  }

  &__experience-date-freelance {
    @include date;
    @include l-margin3;
  }
  &__experience-date-internship, &__experience-date-ecommerce {
    @include date;
    @include l-margin3;
  }

  &__experience-details-freelance, &__experience-details-internship, &__experience-details-ecommerce {
    @include details;
    justify-content: flex-start;
  }

  &__experience-detail-circle-freelance {
    @include details-circle;
    top: 0.2rem;
  }

  &__experience-detail-line-freelance {
    @include details-line;
    position: absolute;
    right: 1.4rem;
    top: 1.1rem;
    height: 21.37rem;
  }

  &__experience-detail-circle-internship {
    @include details-circle;
    top: 0.35rem;
  }

  &__experience-detail-line-internship {
    @include details-line;
    position: absolute;
    right: 1.4rem;
    top: 1.3rem;
    height: 12.6rem;
  }

  &__experience-detail-circle-ecommerce {
    @include details-circle;
    top: 0.35rem;
  }

  &__experience-detail-line-ecommerce {
    @include details-line;
    position: absolute;
    right: 1.4rem;
    top: 1.3rem;
    height: 13rem;
  }

}

