.skills {
  @include underline;
  @include rwd(xsmall) {
    margin-bottom: 1.8rem;
  }
  @include rwd(large) {
    margin-left: 256px;
  }

  &__title {
    @include rwd(small) {
      font-size: 2rem;
    }
  }
  &__description {
    @include rwd(small) {
      font-size: 1.05rem;
    }
    @include rwd(medium) {
      margin: 1rem;
    }
    @include rwd(large) {
      font-size: 1.3rem;
    }
  }

}